// @import "/node_modules/@fantassin/utils/rem-calc";
// @import "/node_modules/@fantassin/utils/media-queries";
@import "./rem-calc";
@import "./media-queries";
@import "./mixins";
@import "./heading";

[data-you="right"]{
    .avatar {
        @include avatar(var(--bg-avatar-you));
    }
}

.right_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: space(5);
    @include mediaMaxWidth($tablet){
        width: 100%;
    }

    &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #ebedf6;
    }
    .message-info {
        display: flex;
        flex-direction: row;
        margin-top: space(3);
        padding-right: space(3);
        margin-bottom: space(5);
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .user-info {
            display: flex;
            .avatar {
                @include avatar(var(--bg-avatar-you), space(2));
                margin-left: space(2.5);
            }
            .info-details {
                display: flex;
                flex-direction: column;
            }
        }
        .options {
            display: flex;
            flex-direction: row;
            gap: space(3);
            .favorite {
                line-height: rem-calc(24px);
            }
            .downlist {
                // line-height: rem-calc(20px);
                margin-bottom: 3px;
                .more-icon {
                    transform: rotate(90deg);
                }
             }
        }
    }
    .message-area-inner {
        padding: 0 space(7) space(3);
        h2 {
            margin-bottom: space(2);
        }
        .tags-list {
            .tag {
                @include badge();
                font-family: $fontMedium;
                padding: 0.282rem .71rem;
                margin-right: rem-calc(8px);
                margin-bottom: rem-calc(24px);
                &.primary {
                    background-color: var(--bg-tags-primary);
                    color: var(--color-tags-primary);
                }
                &.secondary {
                    background-color: var(--bg-tags-secondary);
                    color: var(--color-tags-secondary);
                }
            }
        }
        .content {
            margin-bottom: space(4);
            word-break: break-word;
        }
        .images {
            //width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 0fr);
            @include mediaMaxWidth($laptop){
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
                grid-template-rows: 1fr 1fr;
            }
            @include mediaMaxWidth($tablet){
                grid-template-columns: 1fr;
                grid-template-rows: none;
            }
            grid-template-rows: repeat(2, 0fr);
            grid-gap: 24px;
            &_msg {
                &.first {
                    background-color: var(--bg-img-primary);
                    grid-row: 1 / 3;
                    width: 300px;
                    border-radius: 8px;
                    height: 326px; 
                    @include breakpoint($xlarge) {
                        width: calc(300px * 1.5);
                    }
                    @include mediaBetween($base, $xlarge){
                        width: calc(300px * 1.25);
                    }
                    @include mediaMaxWidth($laptop){
                        grid-row: 1 / 2;
                        width: auto;
                        height: auto;
                    }
                    @include mediaBetween($xs, $tablet){
                        grid-row: 1;
                        grid-column: 1;
                    }
                }
                &.second {
                    background-color: var(--bg-tags-primary);
                    grid-column: 4 / -3;
                    height: 170px;
                    // width: 300px;
                    border-radius: 8px;
                    @include breakpoint($xlarge) {
                        width: calc(300px * 1.5);
                    }
                    @include mediaBetween($base, $xlarge){
                        width: calc(300px * 1.25);
                    }
                    @include mediaMaxWidth($laptop){
                        grid-column: 2 / 3;
                    }
                    @include mediaBetween($xs, $tablet){
                        grid-column: 1;
                    }
                    
                }
                &.third {
                    background-color: var(--bg-img-third);
                    grid-column: -2 / 2;
                    height: 132px;
                    width: 140px;
                    border-radius: 8px;
                    @include breakpoint($xlarge) {
                        width: calc((140px + 3.335px) * 1.5);
                    }
                    @include mediaBetween($base, $xlarge){
                        width: calc(140px  * 1.25);
                    }
                    @include mediaMaxWidth($laptop){
                        grid-column: 1 / 2;
                        width: auto;
                    }
                    @include mediaBetween($xs, $tablet){
                        grid-column: 1;
                        width: auto;
                    }
                }
                &.fourth {
                    background-color: var(--bg-img-primary);
                    grid-column: 3 / 3;
                    height: 132px;
                    width: 140px;
                    border-radius: 8px;
                    @include breakpoint($xlarge) {
                        width: calc((140px + 3.335px) * 1.5);
                    }
                    @include mediaBetween($base, $xlarge){
                        width: calc(140px * 1.25);
                    }
                    @include mediaMaxWidth($laptop){
                        grid-column: 2;
                        width: auto;
                    }
                    @include mediaBetween($xs, $tablet){
                        grid-column: 1;
                        width: auto;
                    }
                }
            }
        }
    }
}