// @import "/node_modules/@fantassin/utils/rem-calc";
@import "./rem-calc";
@import "./mixins";
.left_wrapper {
    position: relative;
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: space(4);
    margin-top: space(4);
    z-index: 99;
    @include mediaMaxWidth($xlarge) {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 18px;

        .search {
            position: relative;
            &-icon {
                @include icon("search-icon");
                position: absolute;
                top: 5%;
                left: 2%;
            }
            input {
                border-radius: 22px;
                outline: none;
                color: var(--color-border);
                background-color: var(--bg-color-sidebar);
                height: 42px;
                line-height: 42px;
                border: none;
                width: 320px;
                padding: 1rem 0 1rem 3rem;
                @include mediaMaxWidth($xlarge) {
                    width: 100%;
                }
            }
        }
        .filter-icon {
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include icon("filter-icon", 42px, 42px, var(--bg-color-sidebar));
            @include mediaMaxWidth($desktop) {
                display: none;
            }
        }
        
    }
    .messages {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .message {
            display: flex;
            flex-direction: row;
            padding: 20px 16px 20px 0;
            padding-block: space(2);
            padding-right: 32px;
            background-color: var(--bg-color-sidebar);
            margin-top: rem-calc(12px);
            border-radius: rem-calc(8px);
            width: 90%;
            .avatar {
                @include avatar(var(--bg-avatar));
                margin-left: 1rem;
                margin-right: 1rem;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
                flex: 1;
                &_actions {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .more {
                        position: relative;
                        &-icon {
                            position: absolute;
                            @include icon("more-icon", 20px, 12px);
                            right: 0;
                        }
                    }
                }
                h5 {
                    margin-bottom: rem-calc(4px);
                }
                p {
                    color: white;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: rem-calc(20px);
                    font-weight: 400;
                    margin-bottom: rem-calc(8px);
                }
                span {
                    color: white;
                    font-size: rem-calc(12px);
                    line-height: rem-calc(16px);
                }
            }
            &:nth-child(1) {
                .avatar {
                    background-color: var(--bg-avatar-first);
                }
            }
            &:nth-child(2) {
                .avatar {
                    background-color: var(--bg-avatar-second);
                }
            }
            &:nth-child(3) {
                .avatar {
                    background-color: var(--bg-avatar-third);
                }
            }
            &.selected {
                background-color: var(--bg-button-primary);
                transition: 500ms ease transform;
                box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.09), -5px -5px 30px 7px rgba(0, 0, 0, 0.12);
                transform: translate(50%, 25%);
            }
        }
    }
}

@keyframes toRight {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(50%, 25%);
    }
}