// @import "/node_modules/@fantassin/utils/media-queries";
@import "./media-queries";
@import "./sidebar";
@import "./message-area";
@import "./message-list";
@import "./mixins";
@import "./heading";
@import "./compose";
@import "./flex-styles";
@import "./icons";
@import "./variables";

:root {
    --color-black: #1A1919;
    --color-border: #979797;
    --color-text-message: #505172;
    --bg-color-sidebar: #181819;
    --bg-color-notification: #F20058;
    --color-title: #{var(--color-black)};
    --color-paragraph: #505172;
    --color-tags-primary: #58766D;
    --color-tags-secondary: #587F8D;
    --bg-tags-primary: #E8EFED;
    --bg-tags-secondary: #DAEEF5;
    --bg-img-primary: #FDE8CC;
    --bg-img-third: #F7E4EA;
    --bg-button-primary: #4E62FF;
    --bg-avatar: #F2EDE4;
    --bg-avatar-first: #EA0000;
    --bg-avatar-second: #7AE4D4;
    --bg-avatar-third: #F6BF6A;
    --bg-avatar-fourth: #{var(--bg-avatar)};
    --bg-avatar-you: #FD5C00;
    --bg-star-icon: #FDBC6A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    li {
        list-style-type: none;
    }
}

html,
body {
    overflow: clip visible;
    background-color: var(--color-black);
}

body {
    width: 100%;
    font-size: 14px;
    font-family: $fontRegular;
}

i {
    font-style: normal;
}

i.icon {
    display: inline-block;
}

input,
code,
textarea,
pre,
p {
    @include font();
}

:where(.message-area-inner, .messages) p {
    color: #505172;
    margin-bottom: 1rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--color-black);
    position: relative;   
    @include mediaMaxWidth($mobile){
        width: 100%;
        flex-direction: column;
    }
}

// .container {
//     overflow: hidden;
//     background-color: black;
//     flex: 12;
//     height: 100%;
//     &-wrapper {
//         height: 100%;
//         display: flex;
//         flex-direction: row;
//         .container-left {
//             flex: 4;
//             display: flex;
//             height: 100%;
//             flex-direction: column;
//         }
//         .container-right {
//             flex: 10;
//             width: 100vw;
//             height: 100vh;
//             display: flex;
//             flex-direction: column;
//             background-color: #fff;
//             border-radius: 30px;
//             border: 10px solid #000;
//         }
//     }
// }
.message-list {
    width: 30%;
    background-color: #000;
    @include mediaMaxWidth($tablet){
        width: 50%;
    }
    @include mediaMaxWidth($mobile){
        width: 100%;
    }
}

:where(.messages) svg path {
    fill: #979797;
}

.message-area {
    width: 70%;
    // height: min(100vh, 100%);
    background-color: #fff;
    border-radius: 30px;
    border: 10px solid #000;
    overflow: clip visible;
    @include mediaMaxWidth($tablet){
        width: 50%;
    }
    @include mediaMaxWidth($mobile){
        width: 100%;
    }
}