<div class="row d-flex justify-content-center align-items-center" style="margin: auto;">
    <div class="box-compose">
        <form class="box-compose_form" action="" method="POST">
            <div class="box-compose_form_header">
                <a class="avatar"></a>
                <textarea name="message-to-send" id="message-to-send" rows="3" placeholder="Enter your message"></textarea>
            </div>
            <div class="box-compose_form_footer">
                <div>
                    <img class="box-compose_form_footer_icon" src="/img/image-icon.svg" alt="Send a image" />
                    <img class="box-compose_form_footer_icon" src="/img/attachment-icon.svg" alt="Attach" />
                    <img class="box-compose_form_footer_icon" src="/img/emoji-icon.svg" alt="Emoji" />
                </div>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>