<div class="left_wrapper">
    <form method="post">
        <div class="search">
            <i class="far fa-search"></i>
            <input type="text" placeholder="Search.." name="search" />
        </div>
        <div id="filterSearch">
            <i class="icon filter"></i>
        </div>
    </form>
    <ul class="messages">
        <li class="message">  
            <a class="avatar"></a>
            <div class="content">
                <div class="content_actions">
                    <h5>Emilia Cortez</h5>
                    <a class="more">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>    
                </div>
                <p>This is the subject of my message...</p>
                <span>Just now</span>
            </div>
        </li>
        <li class="message">  
            <a class="avatar"></a>
            <div class="content">
                <div class="content_actions">
                    <h5>Ashley Smith</h5>
                    <a class="more">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>    
                </div>
                <p>This is the subject of my message...</p>
                <span>3 hours ago</span>
            </div>
        </li>
        <li class="message">  
            <a class="avatar"></a>
            <div class="content">
                <div class="content_actions">
                    <h5>Brian Hallen</h5>
                    <a class="more">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>    
                </div>
                <p>This is the subject of my message...</p>
                <span>Yesterday, 9:30</span>
            </div>
        </li>
        <li class="message selected">  
            <a class="avatar"></a>
            <div class="content">
                <div class="content_actions">
                    <h5>Jessica Lee</h5>
                    <a class="more">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>    
                </div>
                <p>Hey David, Attached are some product...</p>
                <span>Yesterday, 9:30</span>
            </div>
        </li>
    </ul>
    
</div>