<div class="right_container">
    <div class="right_wrapper section">
        <div class="text-wrapper">
            <div class="text">
                <a class="avatar"></a>
                <h2 class="title">Time to get inspired</h2>
            </div>
            <div class="options">
                <span>May 4</span>
                <a class="favorite">
                    <i class="far fa-star"></i>
                </a>
                <a class="downlist">
                    <i class="far fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
        <div class="row_padding">
            <ul class="tags-list">
                <li class="tag primary">Inspiration</li>
                <li class="tag secondary">Design</li>
            </ul>
            <div class="content">
                <p>Hey David,</p>
                <p>Attached are some product photos I believe will inspire you. I really dig the colors! They are <br>
                from a project called <strong>Amor à Mama</strong> and were designed by <strong>Asa Onze Studio.</strong></p>
                <br />
                <p>Let me know what you think (though I'm pretty sure you will like them)</p>
            </div>
            <div class="images">
                <div class="images_msg first"></div>
                <div class="images_msg second"></div>
                <div class="images_msg third"></div>
                <div class="images_msg fourth"></div>
            </div>
        </div>
    </div>
    <div class="right_wrapper section">
        <div class="text-wrapper">
            <div class="text">
                <a class="avatar"></a>
                <h2 class="title">Time to get inspired</h2>
            </div>
            <div class="options">
                <span>May 4</span>
                <a class="favorite">
                    <i class="far fa-star"></i>
                </a>
                <a class="downlist">
                    <i class="far fa-ellipsis-v"></i>
                </a>
            </div>
        </div>
        <div class="row_padding">
            <ul class="tags-list">
                <li class="tag primary">Inspiration</li>
                <li class="tag secondary">Design</li>
            </ul>
            <div class="content">
                <p>Hey David,</p>
                <p>Attached are some product photos I believe will inspire you. I really dig the colors! They are <br>
                from a project called <strong>Amor à Mama</strong> and were designed by <strong>Asa Onze Studio.</strong></p>
                <br />
                <p>Let me know what you think (though I'm pretty sure you will like them)</p>
            </div>
            <div class="images">
                <div class="images_msg first"></div>
                <div class="images_msg second"></div>
                <div class="images_msg third"></div>
                <div class="images_msg fourth"></div>
            </div>
        </div>
    </div>
</div>