<div class="sidebar">
    <div class="flex-icon">
        <div class="icon-wrapper dashboard">
            <a href="#" class="block-image--1"></a>
        </div>
        <div class="icon-wrapper notification">
            <a href="#" class="block-image--2"></a>
        </div>
        <div class="icon-wrapper mail">
            <a href="#" class="block-image--3"></a>
        </div>
        <div class="icon-wrapper team">
            <a href="#" class="block-image--4"></a>
        </div>
        <div class="icon-wrapper chart">
            <a href="#" class="block-image--5"></a>
        </div>
    </div>
    <div class="icon-wrapper settings">
        <a href="#" class="block-image--6"></a>
    </div>
</div>