<div class="sidebar">
    <div class="flex-icon">
        <div class="icon-wrapper">
            <a href="#" class="dashboard"></a>
        </div>
        <div class="icon-wrapper">
            <a href="#" class="notification"></a>
        </div>
        <div class="icon-wrapper">
            <a href="#" class="mail"></a>
        </div>
        <div class="icon-wrapper">
            <a href="#" class="team"></a>
        </div>
        <div class="icon-wrapper">
            <a href="#" class="chart"></a>
        </div>
    </div>
    <div class="icon-wrapper">
        <a href="#" class="settings"></a>
    </div>
</div>